/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img,
.card2 img {
    /*--- ajout de nouveau type de cartes pour Activités à Marseille ---*/
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card2 {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Nav ******/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 25px;
}

.logo {
    width: 61.09px;
    height: 19px;
}

.menu {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: black;
}

.menu1,
.menu2 {
    padding: 40px;
    border-top: solid white;
}

.menu1:hover,
.menu2:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
}

/****** Formulaire *****/

h2,
p {
    margin: 8px;
}

.fa-location-dot {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    font-size: 18px;
    color: black;
    padding: 14.5px 18px 16px 18px;
}

.loupe {
    display: none;
}

.recherche {
    margin-bottom: 32px;
    margin-top: 20px;
}

input[type=search] {
    font-size: 18px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 0px;
    border-right: 0px;
    font-weight: 700;
    padding: 14px;
    position: relative;
    right: 6px;
}

input[type=search]::placeholder {
    color: black;
}

button[type=submit] {
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    background-color: #0065FC;
    color: white;
    padding: 14px 16px;
    font-weight: 700;
    position: relative;
    right: 10.5px;
    cursor: pointer;
}

/****** Filtres*****/

.filtres {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: flex-start;
    align-items: baseline;
    margin: auto;
}

.filtres1 {
    border: 2px solid white;
    padding-left: 12px;
    border-radius: 25px;
}

.filtres2 {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.filtres3 {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.filtres-button {
    display: flex;
    margin: auto;
    padding: 12px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    gap: 10px;
    flex-shrink: 0;

    /* Appliquer les animations au bouton .filtres-button */
    transition: background-color 1s;
}

/* Animation pour le survol */
@keyframes filtres-hover {
    0% {
        transform: scale(1);
        background-color: white;
    }

    40% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.1);
        background-color: #DEEBFF;
    }
}

/* Animation pour la sortie du survol */
@keyframes filtres-unhover {
    0% {
        transform: scale(1.1);
        background-color: #DEEBFF;
    }

    40% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
        background-color: white;
    }
}

.filtres-button:hover {
    animation: filtres-hover 1s ease-in-out forwards;
    /* Appliquer l'animation au survol */
}

.filtres-button:not(:hover) {
    animation: filtres-unhover 1s ease-in-out forwards;
    /* Appliquer l'animation en dehors du survol */
}

.filtres4 {
    display: flex;
    flex-direction: row;
    gap: 11px;
    margin: 37px;
    margin-left: 5px;
    /* Aligner les deux éléments ensemble */
    /* flex-wrap: wrap;*/
    align-items: center;
}

.info-border {
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.fa-info {
    flex-shrink: 0;
    font-size: 12px;
    margin-top: 4px;
    display: flex;
    justify-content: center;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    /*--- backdground-color enlevée pour les besoins de la version mobile ---*/
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements-title {
    margin-top: 12px;
}

.ligne1,
.ligne2 {
    display: flex;
    flex-direction: row;
    gap: 31px;
}

.afficher-plus {
    margin-top: 40px;
    margin-bottom: 16px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    width: 246px;
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 5px;
    margin-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    padding-left: 10px;
    margin-bottom: 5px;
    padding-right: 10px;
    font-size: 14px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/****** Populaires ***********/

.popk {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
  
    z-index: 1;
}

.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******** Activites *******/

.activites {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

.activites section {
    background-color: white;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    gap: 43px;
}

.activites-cards .card2 {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 302px;    
    padding: 0;
}

.activites-cards img {
    width: 100%;
    height: 389px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-title {    
    margin: 15px;
}

/**** Foooter ******/

h3 {
    margin: 4px;
    margin-left: 0px;
}

footer {
    background-color: var(--main-bg-color);
}

ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 32px;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    padding-left: 70px;
    padding-top: 38px;
    padding-bottom: 35px;
    padding-right: 70px;
    gap: 17%;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filtres {
        flex-wrap: wrap;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img {
        height: 210px;
    }

    .footer-menu {
        gap: 10%;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .main-container {
        margin-top: 18px;
        padding: 0px 0px;
    }

    nav {
        flex-direction: column;
    }

    .log0 {
        align-self: center;
    }

    .menu1,
    .menu2 {
        display: none;
    }

    .mmenu {
        display: flex;
        flex-direction: row;
    }

    .mmenu1,
    .mmenu2 {
        width: 50%;
        text-align: center;
        border-bottom: solid var(--main-bg-color);
        padding-bottom: 21px;
        margin-bottom: 21px;
        margin-top: 21px;
    }

    .mmenu1:hover,
    .mmenu2:hover {
        color: var(--main-color);
        border-color: var(--main-color);
    }

    .mmenu1 a:hover,
    .mmenu2 a:hover {
        color: var(--main-color);
        border-color: var(--main-color);
    }

    .trouvez {
        padding: 0px 20px;
    }

    form {
        display: flex;
        flex-wrap: nowrap;
    }

    .rechercher {
        display: none;
    }

    .loupe {
        display: block;
    }

    .recherche {
        margin-top: 38px;
    }

    .filtres {
        flex-direction: column;
        gap: 0px;
    }

    .filtres1 {
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 10px;
        padding-bottom: 0;
    }

    .filtres2 {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 15px;
        gap: 15px;
    }

    .filtres3 {
        gap: 15px;
    }

    .filtres-button {
        width: 140px;
        align-content: center;
        flex-wrap: wrap;
    }

    .fb-txt {
        font-size: 11px;
    }

    .fa-money-bill-wave,
    .fa-person,
    .fa-dog,
    .fa-heart {
        font-size: 20px;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 20px;
        box-sizing: border-box;
    }

    .populaires {
        order: 1;
        margin-top: 0px;
    }

    #hsm.card {
        margin-top: 25px;
    }

    .populaires-cards {
        flex-direction: column;       
    }

    .populaires-cards .card {
        width: 95%;
        margin: 6px;
    }

    #hbb.card {
        margin-bottom: 26px;
    }

    .hebergements {
        order: 2;
        background-color: unset;
    }

    .hebergements .card {
        width: 95%;
    }

    .ligne1,
    .ligne2 {
        flex-direction: column;
        gap: 0;
    }

    .afficher-plus {
        display: none;
    }

    .activites-title {
        padding-left: 20px;
    }

    .activites-cards {
        flex-direction: column;
        gap: 0;
        padding-left: 20px;
    }

    .activites-cards .card2 {
        width: 95%;
    }

    .activites-cards img {
        height: 135px;
    }

    .activites-cards .card-title {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .footer-menu {
        flex-direction: column;
        margin-left: 0;
        padding-left: 35px;
        gap: 12px;
    }

}

@media (max-width: 568px) {
    .filtres4 {
        align-items: flex-start;
    }
}

@media (min-width: 767.98px) {

    .mmenu1,
    .mmenu2 {
        display: none;
    }
}